<div class="container-fluid">
  <div id="upper">
    <div id="left">
      <div id="score">
          1
      </div>
      <div id="support">
        <button>Support</button>
      </div>
    </div>
    <div id="right">
      <div>
          <input type="text" name="Title" id="title" value="More Parking Pls">
      </div>
      <div>
          <input type="text" name="Title" id="" value="We don't want to walk from one side of campus to the other, make more parking spots">
      </div>
    </div>
  </div>
  <div id="lower">
    <div id="email">
      johnbon@csumb.edu
    </div>
    <div id="confirm">
        <input type="submit" value="Confirm">
    </div>
  </div>
</div>