<div id="titlediv">
  <img src="https://csumb.edu/static/csumb-logo-blue-d1aff61d55748ac974a232304ee2bff8.svg" id="logo">
  <h1>
    {{ title }}
  </h1>
</div>



<table class="uk-table uk-table-responsive uk-table-divider">
  <tbody>
      <tr *ngFor="let pet of testpet">
        <td class="supportdiv">
          <h2 class="number">{{ pet.numSignatures }}</h2>
          <button class = "uk-button uk-button-primary" id="{{ pet._id }}" uk-toggle="target: #modal-example" (click)="assignPet(pet);">Support</button> 
        </td>
          <td class = "info">
            <h3>{{ pet.title }}</h3>
          <span>{{ pet.descriptions }}</span>
          </td>
      </tr>
  </tbody>
</table>
  

<!-- This is the modal -->
<div id="modal-example" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">
          {{ supportPet.title }}
        </h2>
        <form>
          <span>Email Address:</span>
          <input type="text" name="email">
          <p class="uk-text-right">
              <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
              <button class="uk-button uk-button-primary" type="submit">Submit</button>
          </p>
        </form>
        
    </div>
</div>

<app-petition-form></app-petition-form>

<!-- <router-outlet></router-outlet> -->

<div id="addContainer">
    <button class="uk-button uk-button-danger uk-button-large" uk-toggle="target: #form-modal">New Petition</button>
</div>
