
<div style="text-align:center">
  <img src="https://csumb.edu/sites/all/themes/custom/steinbeck/img/logos/csumb-logo-blue.svg" id="logo">
  <h1>
    {{ title }}
  </h1>
  
</div>


<ul id = "petlist">

</ul>
<a class="nav-link" routerLink="form" [routerLinkActive]="'is-active'">Form page</a>

<router-outlet></router-outlet>

<div id="addContainer">
    <a class="nav-link" routerLink="form" [routerLinkActive]="'is-active'"><button class="uk-button uk-button-danger uk-button-large">New Petition</button></a>
</div>